spring:
  application:
    name: turbine
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        serviceName: turbine
server:
  port: 9010
turbine:
  app-config: consumer
  aggregator:
    cluster-config: default
  cluster-name-expression: new String("default")
hystrix:
  metrics:
    enabled: true
