spring:
  cloud:
    bus:
      enabled: true
      trace:
        enabled: true
    consul:
      host: localhost
      port: 8500
      discovery:
        serviceName: config-server
    config:
      discovery:
        enabled: true
      server:
        git:
          uri: git@github.com:gabinlin/coupons.git
          search-paths: configRepositories
#          如果不想服务端自动解密，则需要设置（在客户端自己解密）
#        encrypt:
#          enabled: false
  application:
    name: config-server
  rabbitmq:
    host: localhost
    port: 5672
  security:
    user:
      name: gabin
      password: gabin
management:
  endpoints:
    web:
      exposure:
        include: "*"